<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/<%=css%>.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">BLUE ISLAND</a></div>
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#music">Music</a></li>
          <li><a href="/business">Business</a></li>
          <li><a href="/jus">Just Smile</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <%-body%>

    <footer class="footer">
      <div class="footer-logo">
        <img src="/images/logo.png" alt="Blue Island Logo" />
        <p>BLUE ISLAND</p>
      </div>

      <div class="footer-content">
        <h3>Contact</h3>
        <div class="footer-content-area">
          <div class="footer-contact">
            <p>Blue Island</p>
            <p>-</p>
            <p>Asrama Pulau Biru, Jalan Bumi Manti III, Kampung Baru, Bandar Lampung, Lampung</p>
          </div>

          <div class="footer-links">
            <ul>
              <li><a href="mailto:booking@blueislandcoven.com">booking@blueislandcoven.com</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">YouTube</a></li>
              <li><a href="#">TikTok</a></li>
              <li><a href="#">Discord</a></li>
            </ul>
          </div>

          <div class="footer-policy">
            <ul>
              <li><a href="#">Terms & Condition</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li>Copyright © 2024 Blue Island</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
