<div class="border-navbar"></div>

<main class="business">

  <section class="intro">
    <p> At Blue Island, we help your business grow through the power of the music industry. By placing music, musicians, and fans at the heart of every strategy, we provide opportunities to expand your brand’s reach, build authentic collaborations, and create inspiring impacts.</p>
  </section>

  <section class="brand-partnership">
    <div class="wrap-img" data-title="Brand Partnership">
      <img src="/images/business/brand-partnership.jpg" alt="Brand Partnership" />
    </div>

    <div class="wrap-content">
      <p>Leverage music more deeply in your campaigns through a 360° business approach. At Blue Island, we offer services such as :</p>
      <ul>
        <li>Artist and Commercial Advertising Licenses (performances; use of artist names, logos & images; song creation; song synchronization; co-branding & product campaigns; and much more)</li>
        <li>Creative Agency (from ideation, concept creation, execution, to campaign reporting)</li>
        <li>Digital Influencer Marketing (from talent management, social media strategy, digital marketing, execution & reporting)</li>
      </ul>
    </div>
  </section>

  <section class="label-services">
    <div class="wrap-img" data-title="Label Service">
      <img src="/images/business/label-service.jpg" alt="Label Service" />
    </div>

    <div class="wrap-content">
      <p>If you are a musician with a powerful message that wants to be heard, we can maximize and amplify your potential!</p>
      <p>Our services include:</p>
      <ul>
        <li>Talent Development</li>
        <li>Marketing & Promotion</li>
        <li>Synchronization Management, Sales & Rights (Copyright Enforcement)</li>
        <li>Data Analysis (Strategic Planning)</li>
        <li>Music Production & Distribution Services</li>
      </ul>
    </div>
  </section>

  <section class="merchandise">
    <div class="wrap-img" data-title="Merchandise">
      <img src="/images/business/merchandise.jpg" alt="Merchandise" />
    </div>

    <div class="wrap-content">
      <p>We are open to various types of merchandise and collaboration projects, and our merchandising department is ready to collaborate with artistsfrom around the world.</p>
      <br>
      <p>Our priority is to keep your brand and legacy alive. Therefore, our main focus is to bring creative ideas, high-quality merchandise, fresh designs,and responsive management services.</p>
    </div>
  </section>

  <section class="studio">
    <div class="wrap-img" data-title="Blue Island Studio">
      <img src="/images/business/blue-island-studio.jpg" alt="Studio" />
    </div>

    <div class="wrap-content">
      <p>We are a company that prioritizes content quality, with a commitment to producing high-quality work in every project we undertake. You can also take advantage of our services for various needs, such as documentary videos, video content, album cover designs, or any other creative content you require.</p>
    </div>
  </section>

  <div class="border-partners"></div>
</main>

<section class="partners">
  <h3>Brands that Have Worked with Us</h3>

  <div class="partners-img"> 
    <img src="/images/business/kevin-fc.png" alt="Kevin Fotocopy" />
    <img src="/images/business/bambang-motor.png" alt="Bambang Motor" />
    <img src="/images/business/morris.webp" alt="Morris" />
    <img src="/images/business/lenovo.png" alt="Lenovo" />
    <img src="/images/business/hp.png" alt="HP" />
    <img src="/images/business/bni.png" alt="BNI" />
    <img src="/images/business/kiyay-koki.png" alt="Kiyay Koki" />
  </div>

  <p>and many more..</p>
</section>
