<div class="border-navbar"></div>

<main class="contact">
  <section class="office-wrap">
    <div class="office">
      <h2>Office</h2>
      <h2>Asrama Pulau Biru, Jalan Bumi Manti III, Kampung Baru, Bandar Lampung, Lampung</h2>
    </div>

    <div class="follow">
      <h2>Follow</h2>
      <span>
        <a class="link1" href="https://www.instagram.com/blu_islnd/" target="_blank">Instagram / </a>
        <a class="link2" href="#">Youtube / </a>
        <a class="link3" href="#">Tiktok / </a>
        <a class="link4" href="#">Discord</a>
      </span>
    </div>
  </section>

  <section class="contact-wrap">
    <div class="list-contact">
      <h2>Contact</h2>

      <div class="contact-area">
        <div class="contact-content">
          <div class="booking-area">
            <h2>↙ bookings</h2>
            <div class="booking-contact">
              <p>If you’re someone who’d like to invite our artists to div class="booking-content"erform on your show, please contact below.</p>
              <span><p>Bamboo</p><a href="#">bamboo@blueisland.com</a></span>
              <span><p>Bleak Sonata</p><a href="#">bleaksonata@blueisland.com</a></span>
              <span><p>Sinister Six</p><a href="#">sinistersix@blueisland.com</a></span>
              <span><p>Gletser Collision</p><a href="#">gletsercollision@blueisland.com</a></span>
            </div>
          </div>
  
          <div class="ar-area">
            <h2>↙ A&R</h2>
            <p>We’re constantly looking for fresh talents. If want to share your music, feel free to send your demo to the email below. <br> <a href="#">demo@blueisland.com</a></p>
          </div>
        </div>

        <div class="partnership-content">
          <div class="partnership-area">
            <h2>↙ partnership</h2>
            <p>If you have any questions or suggestions on our merchandise, please contact below. <br> <a href="#">contact@blueisland.com</a></p>
          </div>
  
          <div class="careers-area">
            <h2>↙ careers & internship</h2>
            <p>If you want to work with us or join our internship program, mail your cv and portfolio to the email below. Please put “Job Application [Job Position] : [Your Name]” as the subject. <br><a href="#">people@blueisland.com</a></p>
          </div>
  
          <div class="partnership-area">
            <h2>↙ merchandise</h2>
            <p>If you have any questions or suggestions on our merchandise, please contact below. <br><a href="#">justsmile@blueisland.com</a></p>
          </div>
        </div>

        <h2 class="book-content">↘ for other inquiries please contact <br><a href="">booking@blueisland.com</a></h2>
      </div>
    </div>
  </section>
</main>