<section class="main-images">
  <div class="wrapper-images">
    <div class="image-area img1"></div>
    <div class="image-area img2"></div>
    <div class="image-area img3"></div>
    <div class="image-area img4"></div>
  </div>
</section>

<section class="motto">
  <h2>Fell More With Music</h2>
</section>

<article class="talents">
  <h3>Talents</h3>
  <section class="talents-wrap">
    <% artists.forEach(element => { %>
    <a href="/talent/<%= element.username %>">
      <div class="talents-img" data-title="<%=element.name %>">
        <img src="/images/artists/<%= element.images[0].path %>" alt="<%= element.images[0].nameImage %>" />
      </div>  
    </a>
    <% }) %>
  </section>
</article> 

<section class="releases">
  <h3>New Releases</h3>
  <div class="wrapper-releases">
    <div class="image-area">
      <a href=""><img src="/images/releases/release1.png" alt=""></a>
    </div>
    <div class="image-area">
      <a href=""><img src="/images/releases/release2.png" alt=""></a>
    </div>
    <div class="image-area">
      <a href=""><img src="/images/releases/release3.png" alt=""></a>
    </div>
    <div class="image-area">
      <a href=""><img src="/images/releases/release4.png" alt=""></a>
    </div>
  </div>
  
  <div class="btn-slide">
    <span class="left-slide">&lt;</span>
    <span class="right-slide">&gt;</span>
  </div>
</section>

<div class="releases-border"></div>

<article class="merch">
  <h3>Just Smile</h3>
  <section class="merch-wrap">
    <a href="/jus">
      <div class="merch-img">
        <img src="/images/merchandise/product3.png" alt="Product Merch" />
      </div>  
    </a>
  </section>
</article> 