<div class="border-navbar"></div>

<main class="merchandise">
  <section class="product">
    <a href="">
      <div class="product-card">
        <img src="/images/merchandise/product1.png" alt="Product 1" />
        <button class="btn tokopedia"><span>Available On</span> Tokopedia</button>
      </div>
    </a>
  
    <a href="">
      <div class="product-card">
        <img src="images/merchandise/product2.png" alt="Product 2" />
        <button class="btn shopee"><span>Available On</span> Shopee</button>
      </div>
    </a>
  </section>
  
  <section class="description">
    <p>JUST SMILE is a brand born from the shared love between admirers and the artists who inspire them. This brand serves as a canvas to channel the passion for growth, where art becomes a bridge for mutual respect and devotion. Rooted in the timeless tradition of exchanging heartfelt letters, this brand captures the poetry of relationships—each design of a love letter echoes the emotions sent and cherished by the fans.</p>
  </section>
</main>

